:root {
    --color-light: #ffffff;
    --color-dark: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: var(--color-dark);
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    min-width: 360px;
    padding: 0px 15px;
    margin: 0 auto;
}